# backup file
*.la
*.lo
*~
*.swp
.deps
.libs

# anjuta
.anjuta*
*.anjuta

# output of autotools
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

# output files of dpkg-buildpackage
debian/autoreconf.*
debian/*.log
debian/*.substvars
debian/evince-hwp/
debian/files
debian/stamp-*
