# backup file
*.la
*.lo
*~
*.swp
.deps
.libs

# anjuta
.anjuta*
*.anjuta

# output of autotools
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
depcomp
install-sh
intltool-*
libtool
ltmain.sh
m4/
missing
mkinstalldirs
stamp-h1
src/hwpdocument.evince-backend

# i18n
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/*.gmo
po/stamp-it

# output files of dpkg-buildpackage
debian/autoreconf.*
debian/*.log
debian/*.substvars
debian/evince-hwp/
debian/files
debian/stamp-*
