# backup file
*.la
*.lo
*~
*.swp
.deps
.libs

# output of autotools
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.guess.cdbs-orig
config.h
config.h.in
config.log
config.status
config.sub
config.sub.cdbs-orig
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

# output files of dpkg-buildpackage
debian/autoreconf.after
debian/autoreconf.before
debian/evince-hwp.debhelper.log
debian/evince-hwp.substvars
debian/evince-hwp/
debian/files
debian/stamp-autotools
debian/stamp-autotools-files
debian/stamp-copyright-check
debian/stamp-makefile-build
debian/stamp-makefile-install
debian/stamp-upstream-cruft
